*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

/* Our root elements or contraints ------------------ */
:root{
     /* Buttons Container  */
    --main-btn-primary : rgb(174, 55, 174);
    --main-btn-primary-hover : rgb(188, 61, 188);

    /* Text Container  */
    --main-text-col:purple;
}

.btn-primary{
    background: var(--main-btn-primary) !important;
    color: white !important;
    
    
}
.btn-primary:hover{
    background: var(--main-btn-primary-hover) !important;
}

/*---------------------- Text Container -----------------  */
.text-highlight{
    color: var(--main-text-col) !important;
    font-weight: bold !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
